body {
    margin: 0
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --ff-primary: 'Montserrat', sans-serif;

    --fs-100: 1rem; 
    --fs-200: 1.17rem;
    --fs-300: 1.875rem;
    --fs-500: 2.5rem;
    --fs-600: 3.125rem;
    --fs-700: 5rem;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --clr-primary: #ffffff;
    --clr-text-primary: #000000;
    --clr-text-secondary: #4e4e4e;

    --margin-inline-m: 1.25em;
    --margin-inline-d: 3.125em;

    --margin-block-m: 4em;
    --margin-block-d: 8em;
}

/* Typography */

body {
    font-family: var(--ff-primary);
}

.header__nav-logo,
.footer__logo {
    font-size: var(--fs-500);
    font-weight: var(--fw-600);
}

.ri-moon-fill,
.ri-sun-fill {
    font-size: var(--fs-300);
}

.header__title {
    font-weight: var(--fw-400);
    font-size: var(--fs-600);
    text-align: center;
    height: 0px;
}

.link a,
a {
    text-decoration: none;
    color: var(--clr-text-primary);
}

.project-intro__title {
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
}

.about-me__title,
.my-skills__title,
.my-work__title,
.contact__title,
.project-purpose-and-goal__title,
.project-web-stack-and-explanation__title,
.project-problems-and-thought-process__title,
.project-lessons-learned__title,
.other-projects__title {
    font-size: var(--fs-300);
    font-weight: var(--fw-700);
}

.about-me__description,
.my-skills__description,
.my-work__description,
.my-work__project-description,
.contact__description,
.project-intro__description,
.project-purpose-and-goal__description,
.project-web-stack-and-explanation__description,
.project-problems-and-thought-process__description,
.project-lesosns-learned__description {
    color: var(--clr-text-secondary);
    font-size: var(--fs-100);
}

.skill {
    color: var(--clr-primary);
}

.my-work__project-title {
    font-size: var(--fs-200);
    font-weight: var(--fw-700);
}

.my-work__project-link {
    font-weight: var(--fw-700);
}

.contact__mail a {
    font-weight: var(--fw-600);
    color: var(--clr-text-primary);
    text-decoration: none;
    border-bottom: 2.5px solid var(--clr-text-primary);
}

.project-intro__stack-title,
.project-intro__live-demo-title,
.project-intro__live-demo-link {
    font-weight: var(--fw-700);
}

/* Header Layout */

.header {
    height: 100vh;
    margin-inline: var(--margin-inline-m);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ri-moon-fill,
.ri-sun-fill {
    cursor: pointer;
    animation-name: flip-in-ver-right;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

.ri-sun-fill {
    display: none;
}

.header__links {
    display: flex;
    align-items: center;
    animation-name: show-line;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.header__links .line {
    width: 150px;
    height: 1px;
    background-color: var(--clr-text-primary);
}

.header__links .link:nth-of-type(n+1) {
    margin-left: 0.5em;
}

.header__title {
    animation: slide-top;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.link {
    transition: all 0.3s;
}

.link:hover,
.link:focus {
    transform: scale(1.1);
}

@media (min-width: 50em) {
    .header {
        margin-inline: var(--margin-inline-d);
    }
    .header__title {
        font-size: var(--fs-700);
    }
}

/* About Me Layout */

.about-me {
    margin-inline: var(--margin-inline-m);
}

.about-me__img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

@media (min-width: 50em) {
    .about-me {
        margin-inline: var(--margin-inline-d);
    }
    .about-me__img {
        height: 350px;
    }
    .about-me__description {
        display: grid;
        grid-template-areas: 
            "p1 p3"
            "p2 p4";
    }
    .about-me__description p:nth-child(1) {
        grid-area: p1;
        margin-bottom: 0;
    }
    .about-me__description p:nth-child(2) {
        grid-area: p2;
        margin-bottom: 0;
    }
    .about-me__description p:nth-child(3) {
        grid-area: p3;
        margin-bottom: 0;
    }
    .about-me__description p:nth-child(4) {
        grid-area: p4;
        margin-bottom: 0;
    }
}

/* My Skills Layout */

.my-skills {
    margin-inline: var(--margin-inline-m);
    margin-top: var(--margin-block-m);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
}

.skill {
    background-color: var(--clr-text-primary);
    padding: 0.8em 1em;
    margin-top: 1.2em;
}

.skill:nth-of-type(n) {
    margin-right: 1.5em;
}

@media (min-width: 50em) {
    .my-skills {
        margin-inline: var(--margin-inline-d);
        margin-top: var(--margin-block-d);
    }
    .my-skills__description {
        width: 55%;
    }
}

/* My Work Layout */

.my-work {
    margin-inline: var(--margin-inline-m);
    margin-top: var(--margin-block-m);
}

.my-work__projects {
    display: grid;
    justify-items: center;
}

.my-work__project {
    margin-top: 3.5em;
}

.my-work__project-img {
    box-shadow: -3.33165px 3.33165px 19.9899px 3.33165px rgba(0, 0, 0, 0.25);
    width: 400px;
}

.my-work__project-link {
    cursor: pointer;
}

@media (min-width: 50em) {
    .my-work {
        margin-inline: var(--margin-inline-d);
        margin-top: var(--margin-block-d);
    }
    .my-work__description {
        width: 55%;
    }
    .my-work__projects {
        grid-template-columns: 1fr;
    }
}

/* Contact Layout */

.contact {
    margin-inline: var(--margin-inline-m);
    margin-top: var(--margin-block-m);
}

@media (min-width: 50em) {
    .contact {
        margin-inline: var(--margin-inline-d);
        margin-top: var(--margin-block-d);
    }
}

/* Footer Layout */

.footer {
    margin-inline: var(--margin-inline-m);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
}

.footer__links .link:nth-of-type(n+1) {
    margin-left: 0.5em;
}

@media (min-width: 50em) {
    .footer {
        margin-inline: var(--margin-inline-d);
    }
}

/* Project Layout */

.project-intro__stack-live-container {
    display: flex;
}

.project-intro__stack-list {
    padding: 0;
    list-style: none;
    margin-right: 2em;
}

.project-intro__img {
    width: 500px;
    margin-inline: auto;
}

.project-img {
    width: 500px;
    margin-inline: auto;
}

.project-header,
.project-intro,
.project-purpose-and-goal,
.project-web-stack-and-explanation,
.project-problems-and-thought-process,
.project-lessons-learned,
.other-projects {
    margin-inline: var(--margin-inline-m);
}

.project-purpose-and-goal,
.project-web-stack-and-explanation,
.project-problems-and-thought-process,
.project-lessons-learned,
.other-projects {
    margin-top: var(--margin-block-m);
}

@media (min-width: 50em) {
    .project-header,
    .project-intro,
    .project-purpose-and-goal,
    .project-web-stack-and-explanation,
    .project-problems-and-thought-process,
    .project-lessons-learned,
    .other-projects {
        margin-inline: var(--margin-inline-d);
    }
    .project-purpose-and-goal,
    .project-web-stack-and-explanation,
    .project-problems-and-thought-process,
    .project-lessons-learned,
    .other-projects {
        margin-top: var(--margin-block-d);
    }
}

/* Animations */

@keyframes show-line {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}